<!DOCTYPE html>
<html lang="ru">
<head>
    </style>
    <meta charset="UTF-8">
    <title>Tittle </title>
    <h1 align="center" style="color: black; background-color: #1e90ff"; >Добро пожаловать в магазин "My flowers"</h1>
    <button  onclick="window.location.href = '/goods';" style = "position: fixed; top:15%; left:35%; padding: 20px; background-color: #1e90ff"; >Товары магазина</button>
    <button  onclick="window.location.href = '/staff';" style = "position:fixed; top:15%; left:45%;; padding: 20px; background-color: #1e90ff">Сотрудники магазина</button>
    <button  onclick="window.location.href = '/orders';" style = "position:fixed; top:15%; left:56.5%;; padding: 20px; background-color: #1e90ff" >Создать новый заказ</button>
    <button  onclick="window.location.href = '/procedure2';" style = "position:fixed; top:25%; left:40%;; padding: 20px; background-color: #1e90ff" >Задание 42</button>
    <button  onclick="window.location.href = '/procedure';" style = "position:fixed; top:25%; left:47%;; padding: 20px; background-color: #1e90ff" >Задание 44</button>
    <button  onclick="window.location.href = '/procedure1';" style = "position:fixed; top:25%; left:54.5%;; padding: 20px; background-color: #1e90ff" >Задание 49</button>

</head>
<body>

</body>
</html>